action_msgs
ament_copyright
ament_flake8
ament_index_python
ament_pep257
autobahn_rce
builtin_interfaces
cbor2
example_interfaces
Flask
Flask_Sockets
geometry_msgs
gevent
gevent_websocket
launch_ros
launch_testing
lifecycle_msgs
matplotlib
nav2_common
nav2_msgs
nav_msgs
numpy==1.22.4
numpy==1.21.5
open3d
pathos
Pillow==9.0.1
Pillow==12.0.0
pymongo==4.15.5
pyproj==3.7.1
PyQt5
PyQt5_sip
pyridescence==0.1.9
pytest==6.2.5
#rcl_interfaces==1.2.2
#rclpy==3.3.19
recommonmark==0.7.1
#ros2action==0.18.15
#ros2interface==0.18.15
#ros2lifecycle==0.18.15
#ros2node==0.18.15
#ros2param==0.18.15
#ros2pkg==0.18.15
#ros2service==0.18.15
#ros2topic==0.18.15
rosbag2_py==0.15.15
rosidl_adapter==3.1.7
rosidl_runtime_py==0.9.3
scipy==1.8.0
sensor_msgs==4.9.0
sensor_msgs_py==4.9.0
setuptools==68.0.0
# setuptools==80.9.0
# setuptools==59.6.0
simplejson==3.17.6
six==1.16.0
std_msgs==4.9.0
std_srvs==4.9.0
#tf2_ros_py==0.25.17
#ros-humble-tf_transformations
tornado==6.5.4
# tornado==6.1
transforms3d==0.4.2
Twisted==22.1.0
tqdm
ujson==5.1.0
visualization_msgs
waitress==1.4.4
websockets==15.0.1
